section#main-content {
    @media (min-width:768px) and (max-width:1800px) {
        padding: 0px 100px 0px 250px;
    };

    background-color: #0E0E0E;
    
    padding: 0px 20px 0px 20px;


    @media (max-width:768px) {
        padding: 0px 20px;
    }
}