#side-nav {
  width: 230px;
  background-image: linear-gradient(180deg, #B0964C 0%, #E9E1A8 47.4%, #B0964C 100%);
  border-bottom-right-radius: 40px;
  position: fixed;
  top: 0px;
  z-index: 100;
}
#side-nav .inside-side-nav {
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 0px;
  margin-left: 0px;
  border: 1px solid transparent;
  text-align: center;
  background-color: #0E0E0E;
  border-bottom-right-radius: 40px;
}
#side-nav .inside-side-nav img {
  max-height: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #side-nav .inside-side-nav img {
    display: none;
  }
}
#side-nav .inside-side-nav ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
}
@media screen and (max-width: 768px) {
  #side-nav .inside-side-nav ul {
    padding-top: 20px !important;
  }
}
#side-nav .inside-side-nav ul a {
  text-decoration: none;
}
#side-nav .inside-side-nav ul a li {
  border-radius: 10px;
  margin: 6px 10px;
  padding: 4px 8px;
  margin-right: 20px;
}
#side-nav .inside-side-nav ul a li svg,
#side-nav .inside-side-nav ul a li p {
  display: inline;
}
#side-nav .inside-side-nav ul a li P {
  color: white;
  font-size: 12px;
}
#side-nav .inside-side-nav ul a li svg {
  margin-right: 4px;
}
#side-nav .inside-side-nav ul a li:hover {
  background-color: #E02834;
}
#side-nav .inside-side-nav ul a li:hover svg path {
  stroke: white;
}
#side-nav .inside-side-nav #user-profile {
  border-radius: 10px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  margin: 6px 10px;
  padding: 2px 8px;
  margin-bottom: 20px;
  margin-right: 20px;
}
#side-nav .inside-side-nav #user-profile svg {
  margin: 0px 10px;
}
#side-nav .inside-side-nav #user-profile div p {
  margin: 0px;
  font-size: 10px;
  text-align: left;
}

@media (max-width: 1000px) {
  #side-nav {
    width: 200px;
  }
}
@media (max-width: 768px) {
  #side-nav {
    left: -200px;
    margin-top: 115px;
    transition: left 1s;
  }
  #side-nav.toggle-nav-btn {
    left: 0px;
  }
}
#upper-nav {
  background-color: #0A101C;
  position: sticky;
  top: 0px;
  z-index: 99;
}
#upper-nav nav {
  padding: 10px 20px;
}
@media (max-width: 1800px) {
  #upper-nav nav {
    padding-left: 250px;
    padding-right: 100px;
  }
}
#upper-nav nav .container-fluid .row .common-cls:first-child {
  display: none;
}
#upper-nav nav .container-fluid .row .common-cls:nth-child(2) {
  width: 30vw;
  position: relative;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#upper-nav nav .container-fluid .row .common-cls:nth-child(2) .input-div1 {
  width: 100%;
}
#upper-nav nav .container-fluid .row .common-cls:nth-child(2) .input-div1 input {
  width: 100%;
  padding: 4px 15px;
}
#upper-nav nav .container-fluid .row .common-cls:nth-child(2) .input-div1 svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
#upper-nav nav .container-fluid .row .common-cls:nth-child(4) {
  margin-left: -14px;
}
#upper-nav nav .container-fluid .row .common-cls:nth-child(5) {
  display: none;
}
#upper-nav nav .container-fluid .row .common-cls:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
#upper-nav nav .container-fluid .row .common-cls:last-child button {
  border: 0px;
  padding: 4px 30px;
  background-image: linear-gradient(180deg, #B0964C 0%, #E9E1A8 47.92%, #B0964C 100%);
}
#upper-nav nav .container-fluid .row .common-cls:last-child button a {
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  #upper-nav nav {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #upper-nav nav .container-fluid .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #upper-nav nav .container-fluid .row .common-cls:first-child {
    display: inline;
  }
  #upper-nav nav .container-fluid .row .common-cls:nth-child(2) {
    width: 90% !important;
    padding-top: 10px;
    order: 5;
  }
  #upper-nav nav .container-fluid .row .common-cls:nth-child(2) .input-div1 {
    width: 100%;
  }
  #upper-nav nav .container-fluid .row .common-cls:nth-child(2) .input-div1 input {
    width: 100%;
    padding: 4px 15px;
    font-size: 14px;
  }
  #upper-nav nav .container-fluid .row .common-cls:nth-child(2) .input-div1 svg {
    position: absolute;
    top: 62%;
  }
  #upper-nav nav .container-fluid .row .common-cls:nth-child(4) {
    display: inline !important;
    margin-left: -14px;
    order: 2;
    text-align: right;
  }
  #upper-nav nav .container-fluid .row .common-cls:nth-child(5) {
    display: inline !important;
    text-align: center;
  }
  #upper-nav nav .container-fluid .row .common-cls:nth-child(5) img {
    height: 70px;
    width: 50px;
  }
  #upper-nav nav .container-fluid .row .common-cls:last-child {
    display: none !important;
  }
}
@media (max-width: 1028px) {
  #upper-nav nav {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #upper-nav nav .container-fluid .row .common-cls:nth-child(2) {
    width: 25vw;
  }
  #upper-nav nav .container-fluid .row .common-cls:nth-child(3) {
    display: none;
  }
  #upper-nav nav .container-fluid .row .common-cls:nth-child(4) {
    display: none;
  }
  #upper-nav nav .container-fluid .row .common-cls:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
  }
  #upper-nav nav .container-fluid .row .common-cls:last-child button {
    padding: 2px 15px;
  }
}
body {
  background-color: #0E0E0E;
}

section#mainContent {
  background-color: #0E0E0E;
  padding: 0px 20px 0px 20px;
}
@media (min-width: 768px) and (max-width: 1800px) {
  section#mainContent {
    padding: 0px 100px 0px 250px;
  }
}
@media (max-width: 768px) {
  section#mainContent {
    padding: 0px 20px;
  }
}

#mainDiv main .container .row .common-cls:first-child {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  #mainDiv main .container .row .common-cls:first-child {
    justify-content: center;
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  #mainDiv main .container .row .common-cls:first-child {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  #mainDiv main .container .row .common-cls:first-child {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #mainDiv main .container .row .common-cls:first-child {
    justify-content: center;
  }
}
#mainDiv main .container .row .common-cls:first-child section > * {
  margin-bottom: 20px;
}
#mainDiv main .container .row .common-cls:first-child section button {
  font-size: 0.8em;
}
#mainDiv main .container .row .common-cls:first-child section h3 {
  font-size: 1.5em;
}
#mainDiv main .container .row .common-cls:first-child section h6 {
  color: #AAAAAA;
  font-size: 0.8em;
}
#mainDiv main .container .row .common-cls:first-child section .con {
  display: flex;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  #mainDiv main .container .row .common-cls:first-child section .con {
    justify-content: center;
  }
}
#mainDiv main .container .row .common-cls:first-child section .con h3 {
  font-size: 1.5em;
}
#mainDiv main .container .row .common-cls:first-child section .con span {
  color: #656B72;
  font-size: 1em;
}
#mainDiv main .container .row .common-cls:first-child section .wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #25292C;
  background-color: #1C1F22;
}
@media screen and (max-width: 768px) {
  #mainDiv main .container .row .common-cls:first-child section .wrapper {
    display: none;
  }
}
#mainDiv main .container .row .common-cls:first-child section .wrapper img {
  max-height: 50px;
}
@media screen and (max-width: 1100px) {
  #mainDiv main .container .row .common-cls:first-child section .wrapper img {
    max-height: 40px;
  }
}
#mainDiv main .container .row .common-cls:first-child section .wrapper p {
  margin: 0;
  color: #656b72;
  font-size: 0.7rem;
}
#mainDiv main .container .row .common-cls:nth-child(2) {
  background-image: url("./8PackDetailImg/Clip.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
}
#mainDiv main .container .row .common-cls:nth-child(2) .items img {
  margin: auto;
}
@media screen and (max-width: 768px) {
  #mainDiv main .container .row .common-cls:nth-child(2) {
    align-items: center;
  }
}
@media screen and (max-width: 868px) {
  #mainDiv main .container .row .common-cls:nth-child(2) img {
    min-height: 250px;
  }
}
@media screen and (max-width: 768px) {
  #mainDiv main .container .row .common-cls:nth-child(2) img {
    max-height: 300px;
  }
}
@media screen and (max-width: 768px) {
  #mainDiv main .container .row .common-cls:nth-child(2) {
    order: -1;
    margin-bottom: 20px;
  }
}
#mainDiv main .container .row .common-cls:last-child {
  display: flex;
  align-items: center;
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  #mainDiv main .container .row .common-cls:last-child {
    font-size: 14px;
  }
}
#mainDiv main .container .row .common-cls:last-child section {
  display: flex;
  flex-direction: column;
}
#mainDiv main .container .row .common-cls:last-child section h5 {
  font-size: 1.2em;
  color: white;
}
#mainDiv main .container .row .common-cls:last-child section p {
  font-size: 0.7em;
  color: #656B72;
}
#mainDiv main .container .row .common-cls:last-child section .wrapper {
  display: flex;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  #mainDiv main .container .row .common-cls:last-child section .wrapper {
    order: -1;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  #mainDiv main .container .row .common-cls:last-child section .wrapper {
    width: 200px;
  }
}
#mainDiv main .container .row .common-cls:last-child section .wrapper .div1 {
  flex: 4;
}
@media screen and (max-width: 768px) {
  #mainDiv main .container .row .common-cls:last-child section .wrapper .div1 {
    display: flex;
    justify-content: center;
  }
}
#mainDiv main .container .row .common-cls:last-child section .wrapper .div1 button:first-child {
  background-color: #1C1F22;
  border: 1px solid #25292C;
}
@media screen and (max-width: 768px) {
  #mainDiv main .container .row .common-cls:last-child section .wrapper .div1 button:first-child {
    display: none;
  }
}
#mainDiv main .container .row .common-cls:last-child section .wrapper .div1 button:last-child {
  background: linear-gradient(180deg, #B0964C 0%, #E9E1A8 50.52%, #B0964C 100%);
  border: 1px solid #25292C;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  #mainDiv main .container .row .common-cls:last-child section .wrapper .div1 button:last-child {
    width: 35vw;
  }
}
#mainDiv main .container .row .common-cls:last-child section .wrapper .div2 {
  flex: 1;
}
@media screen and (max-width: 768px) {
  #mainDiv main .container .row .common-cls:last-child section .wrapper .div2 {
    display: none;
  }
}
#mainDiv main .container .row .common-cls:last-child section .wrapper .div2 img {
  background-color: #1C1F22;
  border: 1px solid #25292C;
  -o-object-fit: none;
     object-fit: none;
  margin: 0px auto;
  height: 35px;
  width: 35px;
}

#backOption {
  padding-top: 30px;
}
#backOption .container-fluid .row .col {
  display: flex;
}
@media screen and (max-width: 768px) {
  #backOption .container-fluid .row .col h5 {
    width: 100%;
    text-align: center;
    margin-left: -30px;
  }
}

.carousel {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #0E0E0E;
  position: relative;
}
.carousel img {
  margin: auto;
  position: absolute;
  top: 25%;
  left: 48%;
  z-index: 999;
}
.carousel ul {
  padding: 0;
}
.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 200px;
  justify-content: center;
}
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 400px;
  height: 150px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 992px) {
  .carousel__item {
    width: 300px;
  }
}
@media screen and (max-width: 576px) {
  .carousel__item {
    width: 250px;
  }
}
@media screen and (max-width: 440px) {
  .carousel__item {
    width: 200px;
  }
}
.carousel__item:nth-child(1) {
  background-image: url("./8PackDetailImg/Rectangle 122.png");
}
.carousel__item:nth-child(2) {
  background-image: url("./8PackDetailImg/Rectangle 121.png");
}
.carousel__item:nth-child(3) {
  background-image: url("./8PackDetailImg/Rectangle 123.png");
}
.carousel__item[data-pos="0"] {
  z-index: 5;
}
.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(0.8);
  z-index: 4;
}
.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(0.8);
  z-index: 4;
}

#footer {
  border-top: 50px solid #0A101C;
  border-top: 50px solid #0A101C;
  background-color: #0E0E0E;
}

footer > a {
  position: absolute;
  left: 44%;
  transform: translateY(-100%);
  background-color: #E02834;
  padding: 5px;
}

footer {
  background-color: #0E0E0E;
  color: white;
  position: relative;
}
footer p {
  opacity: 0.5;
}
footer .row div:first-child img {
  height: 80px;
  margin-bottom: 10px;
}
footer .row div:first-child p {
  font-size: 10px;
  margin: 0;
}
footer .row div:first-child ul li:nth-child(4),
footer .row div:first-child ul li:nth-child(5),
footer .row div:first-child ul li:nth-child(6) {
  display: none;
}
footer .row div:nth-child(2) {
  letter-spacing: 0px;
  font-weight: 800;
}
footer .row div:nth-child(2) h6 {
  font-weight: 800;
}
footer .row div:nth-child(2) ul {
  font-size: 14px;
}
footer .row div:nth-child(2) ul li:first-child {
  padding-top: 20px;
}
footer .row div:nth-child(2) ul li {
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
footer .row div:nth-child(2) ul li a {
  color: white;
  opacity: 0.6;
}
footer .row div:nth-child(3) {
  position: relative;
}
footer .row div:nth-child(3) h6 {
  letter-spacing: 0px;
  font-weight: 800;
}
footer .row div:nth-child(3) p {
  margin: 30px 0px;
  font-size: 14px;
}
footer .row div:nth-child(3) input {
  background-color: #191D23;
  border: none;
  color: white;
  opacity: 0.5;
}
footer .row div:nth-child(3) input::-moz-placeholder {
  color: white;
  width: 80%;
  opacity: 0.5;
  padding-left: 0px !important;
  font-size: 12px;
}
footer .row div:nth-child(3) input::placeholder {
  color: white;
  width: 80%;
  opacity: 0.5;
  padding-left: 0px !important;
  font-size: 12px;
}
footer .row div:nth-child(3) input:focus {
  box-shadow: none;
}
footer .row div:nth-child(3) svg {
  position: absolute;
  right: 2%;
  top: 30%;
}

@media screen and (max-width: 500px) {
  #footer {
    border-top: 20px solid #0A101C;
  }
  footer > a > img {
    height: 28px;
  }
}
@media screen and (max-width: 768px) {
  footer > a {
    position: absolute;
    left: 46%;
    transform: translateY(-120%);
    background-color: #E02834;
    padding: 5px;
  }
  footer .row div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  footer .row div:first-child img {
    height: 60px;
  }
  footer .row div:first-child p {
    font-size: 8px;
    width: 60vw;
    text-align: justify;
  }
  footer .row div:nth-child(2) h6 {
    display: none;
  }
  footer .row div:nth-child(2) div:first-child ul {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
  }
  footer .row div:nth-child(2) div:first-child ul li {
    font-size: 8px;
    display: inline;
  }
  footer .row div:nth-child(2) div:first-child ul li:first-child {
    padding-top: 0;
  }
  footer .row div:nth-child(2) div:first-child div:last-child ul {
    display: none;
  }
  footer .row div.offset-lg-1 {
    display: none;
  }
}
#footer-end {
  border-top: 1px solid #E02834;
  background-color: rgb(14, 14, 14);
  padding: 10px;
}
#footer-end .container {
  color: white;
  font-size: 10px;
}
#footer-end .container .row .child1 {
  opacity: 0.5;
  display: flex;
  align-items: center;
}
#footer-end .container .row .child2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#footer-end .container .row .child2 img {
  height: 22px;
  width: 20px;
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */